telebot
nltk
dateparser
requests
whisper
pyaspeller
setuptools-rust
openpyxl
telebot
nltk
dateparser
requests
whisper
datetime
pyaspeller
setuptools-rust
pandas
numpy
matplotlib
seaborn
xgboost
catboost
scikit-learn
lightgbm
