telebot
nltk
dateparser
requests
whisper
subprocess
pyaspeller
setuptools-rust
openpyxl
telebot
nltk
dateparser
requests
whisper
subprocess
datetime
pyaspeller
setuptools-rust
pandas
numpy
matplotlib
seaborn
xgboost
catboost
scikit-learn
lightgbm
